*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
}

#canvas{
    width: 500px;
    height: 500px;
    border: solid 3px black;
}


